*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(0, 0, 15);
    color: aliceblue;
    font-family: 'Poppins', sans-serif;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 60px;
    background-color: rgb(15, 15, 39);
}
nav ul{
    display: flex;
    justify-content: center;
}
nav ul li{
    list-style: none;
    margin: 0 23px;
}
nav ul li a{
    text-decoration: none;
    color: white;
}
nav ul li a:hover{
    color: rgb(143, 143, 241);
    font-size: 1.05rem;
}
main hr{
    border: 0;
    background: #9c97f1;
    height: 1.2px;
    margin: 40px 84px;
}
.left{
    font-size: 2rem;
}
.firstSection{
    display: flex;
    justify-content: space-around;
    margin: 70px 0;
    align-items: center;
}
.firstSection > div{
    width: 30%;
}
.leftsection{
font-size: 2rem;
}
.leftsection .buttons{
    padding: 27px;
}
.leftsection .btn{
    padding: 12px;
    background-color: rgb(1, 1, 48);
    color:  white;
    border: 2px solid white;
    border-radius: 6px;
    font-size: 20px;
    cursor: pointer;
}
.rightsection img{
    width: 80%;
}
#element{
    color: rgb(38, 4, 70);
}
.secondsection{
    max-width: 80vw;
    margin:auto;
    height: 80vh;
}
.secondsection h1{
    font-size: 1.9rem;
}
.text-gray{
    color: grey;
}
.secondsection .box{
    background: white;
    width: 150vh;
    height: 2px;
    margin: 56px 0;
    display: flex;
}
.secondsection .vertical{
    height: 90px;
    width: 1px;
    background-color: white;
    margin: 0 90px;
}
.vertical-title{
position: relative;
top: 75px;
width: 150px;
}
.vertical-desc{
position: relative;
top: 86px;
color: gray;
width: 150px;
font-size: 9px;
}
.container{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
form{
    background: rgb(18, 18, 51);
    display: flex;
    flex-direction: column;
    padding: 2vw 4vw;
    width: 90%;
    max-width: 600px;
    border-radius: 10px;
}
form h3{
    color: gray;
    font-weight: 800;
    margin-bottom: 20px;
    font-size: 40px;
}
form input,form textarea{
    border: 0;
    margin: 10px 0;
    padding: 20px;
    outline: none;
    background: white;
    font-size: 16px;
}
form button{
    padding: 15px;
    background: rgb(63, 23, 23);
    color: white;
    font-size: 18px;
    border: 0;
    outline: none;
    cursor: pointer;
    width: 150px;
    margin: 20px auto 0;
    border-radius: 30px;
}
footer{
    background-color: rgb(18, 18, 51);
}
.footer{
    display: flex;
    padding: 23px 122px;
    justify-content: space-between;
}
.footer ul{
    list-style: none;
}
.footer > div{
    width: 233px;
}
footer .footer-rights{
    text-align: center;
    color: gray;
}
.social-icons {
    list-style: none;
    padding: 0 100px;
    display: flex;
    gap: 25px; 
}

.social-icons li {
    font-size: 30px; 
}